# Ignore dataset files
data/*.csv

data/city_hour.csv
data/station_day.csv
data/station_hour.csv
data/stations.csv
# Virtual environment
venv/

__pycache__/
*.pyc
.env
.ipynb_checkpoints/
*.sqlite3
node_modules/
.DS_Store

